<div class="comment-list-container">
  Comments:
  <mat-list role="list">
    @for (comment of comments; track comment.commentID) {
      <mat-list-item role="listitem" >
        <div class="comment-row-item">
          <mat-icon class="comment-icon" fontIcon="chat_bubble_outline"/>
          <span class="comment-text">
            {{comment.text}}
          </span>
          <span >{{comment.timestampms | formatDate: "yyyy/MM/dd hh:mm a"}}</span>
        </div>
      </mat-list-item>
    }
  </mat-list>
</div>

<style>
  .mat-mdc-list-item {
    padding-left: 0;
    border-top: 1px solid grey;
  }
  .comment-row-item {
    display: flex;
    font-size: 12px;
    height: 40px;
    align-items: center;
    margin: auto;
    width: 100%;
  }
  .comment-icon {
    flex: 1 1 5%;
  }
  .comment-text {
    flex: 1 1 70%
  }
</style>