<style>
  :host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }
  main {
    border: 1px solid white;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .content {
    width: 100%;
  }

  .input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
  }

  .mention-outer {
    flex: 1 1 75%;
  }

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 4px;
    padding: 4px 10px;
    width: 140px;
    color: black;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
  }
</style>

<main class="main">
  <div class="content">
    <comments [comments]="comments"></comments>
      <button (click)="toggleInput()">
        <mat-icon fontIcon="add_comment"/> 
        Add Comment
      </button>
      <mention class="mention-outer" (commentAdded)="commentAdded($event)" [inputOpen]="inputOpen"></mention>
  </div>
</main>

<router-outlet />
